test*.*

# Directories #
/build/
/bin/
target/

# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db

######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Idea
######################
.idea
.idea/**

######################
# Eclipse
######################

*.pydevproject
.project
.metadata
.metadata/
.metadata/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
T3G14A10/log.txt

T3G14A11/T3G14A11E01_main.lst

T3G14A11/T3G14A11E01_main.lst

T3G14A11/T3G14A11E01_main.lst

T3G14A11/T3G14A11E01_final.mvn

T3G14A11/o.run

T3G14A11/log.txt

T3G14A11/log.txt

T3G14A11/bin/META-INF/MANIFEST.MF

T3G14A09/final.run

T3G14A09/T3G14A09E01_linked.mvn

T3G14A09/T3G14A09E01_final.mvn

T3G14A09/T3G14A09E01_main.mvn

T3G14A09/T3G14A09E01_main.lst

T3G14A09/T3G14A09E01_linked.mvn
